 /* Media Query maxwidth 1398 & 1280 */

/* @media only screen and (max-width: 1510px){
    .bottom_header_right ul li{
        padding: 20px 10px;
        font-size: 14px;
    }
    .top_header_left ul li a{
        font-size: 14px;
    }
    .bottom_header_left {
      width: 22%;
    }
    .bottom_header_right {
      width: 75%;
    }
    .section1_left{
      width: 15%;
    }
    .section4_main_one_div4_left1 {
      padding: 20px 5%;
    }
    .section4_main_one_div4_left1 ul li{
      padding:3px 3% ;
    }
    .section4_main_one_div4_left2 {
      padding: 6px 3%;
      line-height: 26px;
    }
}  */

/* @media only screen and (max-width: 1410px){
   
    .bottom_header_right ul li{
        padding: 20px 10px;
        font-size: 14px;
    }
    .bottom_header_right {
        width: 80%;
        position: relative;
    }
    .top_header_left {
        width: 60%;
    }
    .bottom_header_left {
       width: 25%;
        position: relative;
    }
    .top_header_right button a{
        font-size: 12px;
    }
    
    .section1_left {
        width: 15%;
    }
    .top_header_left ul li a{
        font-size: 14px;
    }
    .section1_left{
      width: 15%;
    }
    .section4_main_one_div4_left1 ul li{
      padding:3px 3% ;
    }
    .section4_main_one_div4_left2 {
      padding: 6px 3%;
      line-height: 26px;
    }
}  */
 
/* @media only screen and (max-width: 1378px){
    
    .bottom_header_right ul li {
    padding: 20px 4px;
    font-size: 14px;}
    .bottom_header_right {
        width: 80%;
        position: relative;
    }
    .bottom_header_left h6{
        font-size: 20px;
        text-align: left;
    }
    .bottom_header_left {
        width: 25%;
        /* margin-left: 15px; */
         /* position: relative; */
     /* }
     .top_header_left ul li a{
        font-size: 14px;
    }
    .section4_main_three_newSec_div3{
        width: 98%;
        max-height: 60px;
        height: 60px;
        padding: 2px 0;
    }
    .top_header_left{
        width: 80%;
    }
    
    .section4_main_three_newSec {
        padding: 0px;
    }
    .section4_main_three_newSec_div3 img{
        width: max-content;
        height: 100%;
    }
    .section4_main2{
        margin-bottom: 150px;
    }
    .section_F2_left p{
        font-size: 13px;
    }
    .section1_left{
      width: 18%;
    }
    .section4_main_one_div4_left1{
      padding: 0 5%;
    }
    .section4_main_three_newSec_div3 {
      width: 98%;
      max-height: 80px;
      height: 80px;
      padding: 2px 0;
      margin: 5px 4px;
} 
.section4_main_one_div4_left1 ul li{
  padding: 7px 3%;
}
} */ */
 /* @media only screen and (max-width: 1239px){
    .bottom_header_left{
        width: 25%;
        margin-left: 15px;
    }
    .bottom_header_left h6{
        font-size: 23px;
        text-align: center;
    }
    .bottom_header_right ul li a{
        font-size: 11.5px;
        padding: 15px 2px;
    }
    .top_header_left span{
        font-size: 12px;
    }
    .top_header_left ul li select{
        padding: 6px 4px;
    }
    .top_header_right {
        width: 48%;
    }
    .tab button{
      padding: 14px 10px;
    }
    .section3_right_div1 ul li{
        padding: 10px 4px;
    }
    .section3_right_div2 {
        width: 80%;
    }
    .section3_right_div4 p{
        padding: 15px 8px;
    }
    .tab h6 >a{
        font-size: 11px;
    }
    .f_two {
        width: 20%;
    }
    .f_four {
        width: 22%;
    }
    .section_F2s {
        width: 80%;
    }
    .section_F2_left p{
        font-size: 12px;
    }
    .section4_main_threeCopy {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: baseline;
        margin-top: 20px;
    }
    .section5_div2 h5{
     width: 60%;   
    }
    .section5_div2 button{
        padding: 10px 20px;
    }
} */
/* @media screen and (max-width: 1115px){

} */
/* @media screen and (max-width: 1238px) {
    .top_header_left{
      position: relative;
      width: 70%;
      display: flex;
      font-size: 13px;
    }
    .top_header_left ul li a{
      font-size:13px;
    }
    .section4_main_three_div2_left_imgText h4{
      font-size: 12px;
    }
    .section3_right_div1 ul li {
      padding: 10px 8px;
    }
    .section1_left h5{
      padding: 10px 0;
    }
    .bottom_header_right{
      width: 71%;
    }
    .bottom_header_right ul li a {
      padding: 20px 0px;
    }
    .bottom_header_right ul li{
      padding: 20px 5px;
    }
    
    .section3_right_div1 ul li{
      padding: 10px 4px;
    }
    .section4_main2{
      margin-bottom: 140px;
    }
    .section5_div2 h5{
      width: 60%;
    }
    .section3_right_div2 {
        width: 80%!important;
    }
    .f_one {
      width: 30%
    }
    .f_three {
      width: 25%;
    }
    .f_two,.f_four{
      width: 22%;
    }
    .section_F2_left p{
      font-size: 14px;
    }
  } */